.loginpage{
    width:100%;
    height:100%;
    display : flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-top:100px;
    color:green;

}
.login{
    width:40%;
    height:75%;
    box-shadow:1px 1px 10px 1px rgb(206, 205, 205);
    background-color:white;
    border-radius:10px;
}

.form{
    border-radius:10px;
    background-color:rgb(249, 249, 249);
    padding:50px 0px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
  


}
.email{
    font-size:15px;
    padding:5px;
    position:relative;
}
.emailsection{
    display:flex;
    gap:20px;

}
.passwordsection{
    display:flex;
    gap:20px;
}
.button{
    width:100px;


}
.forgot{
    text-align:center;
    width:150px;
}
.load{
    display:none;
}
.loading{
    display:block;
    color:green;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

@media(max-width:768px){
.login{
    width:90%;
    height:75%;
}
}